# Application Configuration
# Options: development, preproduction, production
# NOTE: Simulation endpoints are disabled in production
ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=sum_odp

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
API_TITLE=SUM Impact Assessment API
API_VERSION=0.1.0

# CRITICAL, FATAL, ERROR, WARN, WARNING, INFO, DEBUG, NOTSET
LOG_LEVEL=DEBUG
LOG_FORMAT=json

#openssl rand -base64 32 
INTERNAL_API_KEY=xxx
ADMIN_REFRESH_API_KEY=xxx