# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/
venvB/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# VS Code settings
.vscode/

# Mac OS files
.DS_Store

# Logs
*.log

# dotenv
*.env
.env.*
!.env.example

# Temporary files
*.tmp
*.bak